<% include ../partials/header.ejs %>
<% include ../partials/navbar.ejs %>
<main class="container">
    <h1>Edit Article</h1>

    <form method="post">
        <fieldset class="form-group">
            <label for="username" class="col-sm-2">Title: *</label>
            <input name="username" required value="<%= user.username %>" />
        </fieldset>
        <fieldset class="form-group">
            <label for="password" class="col-sm-2">Content: *</label>
            <input name="password" required placeholder="<%= user.password %>">
        </fieldset>
        <button type="submit" class="col-sm-offset-2 btn btn-success">Submit</button>

        <a href="/users/delete/<%= user._id %>" username="Delete" onclick="return confirm('Are you sure you want to delete this?');">
            <button type="button" class="btn btn-danger">Delete</button>
        </a>

    </form>

</main>
<% include ../partials/footer.ejs %>