<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
    <main class="container">
        <h1><%= title %> Page</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus sint beatae autem voluptate natus recusandae. Ut, perferendis? Voluptate autem accusantium reiciendis! Molestiae, a. Debitis impedit atque temporibus fuga ullam corporis molestias explicabo dicta nemo vitae sunt tempore sequi itaque accusamus, corrupti, excepturi doloribus! Nisi earum aliquid maxime reiciendis, itaque incidunt!</p>
    </main>
<% include partials/footer.ejs %>
    
