<% include ../partials/header.ejs %>
<% include ../partials/navbar.ejs %>
<main class="container">
    <h1>Add a new Article</h1>

    <form method="post">
        <fieldset class="form-group">
            <label for="title" class="col-sm-2">Title: *</label>
            <input name="title" required />
        </fieldset>
        <fieldset class="form-group">
            <label for="content" class="col-sm-2">Content: *</label>
            <textarea name="content" required></textarea>
        </fieldset>
        <button type="submit" class="col-sm-offset-2 btn btn-success">Submit</button>

    </form>

</main>
<% include ../partials/footer.ejs %>